.content {
  margin: 100px 200px;
  background-color: #ffffff;
}

.content h1 {
  padding: 30px;
}

.calculator {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555555;
  background-color: var(--purple);
  padding: 50px;
}

.field {
  background-color: #ffffff;
  border-width: 0px;
  padding: 10px 10px 10px 13px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.field label {
  flex: 1;
}

.field input {
  border-width: 0px;
  flex: 3;
  padding: 5px;
  color: #222222;
}

.field input:focus {
  border-width: 0px;
}

.group {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
}

.groupname {
  background-color: #e6e6e6;
  color: #333333;
  padding: 10px 10px 10px 13px;
}

.bottomrow {
  display: flex;
  gap: 10px;
}

.bottomrowbutton {
  width: fit-content;
  border-width: 0px;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
}